/* Estilos generales */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #0a3d62;
    color: white;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin: 0;
  }
  
  /* Estilos para el formulario */
  form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
  }
  
  form h2 {
    color: #0a3d62;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  form input {
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding: 10px;
    width: 100%;
  }

  select#productsSelect {
    width: 20%;
  }
  
  form button {
    background-color: #0a3d62;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
  }
  
  form button:hover {
    background-color: #0c4b85;
  }
  
  /* Estilos para la tabla */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #0a3d62;
    color: white;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  tfoot td {
    font-weight: bold;
    text-align: right;
  }
  
  #total {
    font-weight: bold;
  }
  
  /* Estilos para el botón de guardar */
  #guardar {
    background-color: #16a085;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
  }
  
  #guardar:hover {
    background-color: #1abc9c;
  }
  